:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
  }
  button {
    background-color: #87CEFAFF;
  }
}
body {
  background-color: lightskyblue;
}

:root {
  --bg-color: #87CEFAFF;
  --bg-button-color: #68c9ff;
  --shop-gap:10px;
  --text-color: black;
}

[data-theme='dark'] {
  --bg-color: #000000;
  --bg-button-color: #0c0c0c;
  --text-color: #00ffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
.shop button{
  background-color: var(--bg-button-color);
}
.shop{
  display:flex;
  gap: var(--shop-gap);
  flex-wrap: wrap;
}